* {
  font-family: 'Open Sans', arial;
}
#ventanaTransparente {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  background-color: #000;
  opacity: 0.7;
  display: none;
}
#sep {
  background: url("../img/borde-linea.png") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 1px;
  opacity: 0.7;
}
.clear {
  clear: both;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
body {
  background: url("../img/fondo5.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.fondo-dark {
  background: rgba(0,0,0,0.65);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}
.container {
  height: 100%;
  width: 100%;
}
section.hidden {
  height: 0 !important;
  margin: 0;
  padding: 0 !important;
  position: fixed;
  z-index: 1010;
}
#loginUsuario {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1010;
  margin: 120px auto;
  margin-top: 60px;
  width: 100%;
}
#loginUsuario #cerrarSesion {
  position: absolute;
  right: 40px;
  top: 20px;
  padding: 0px;
  width: 45px;
  height: 45px;
  background: url("../img/ico-cerrar.png") no-repeat;
  background-size: 100%;
  display: none;
}
#loginUsuario form {
  margin: 0 auto;
  margin-top: 50px;
  width: 250px;
  height: auto;
  background: #eee;
  padding: 15px;
  text-align: left;
  position: relative;
  z-index: 1010;
  left: 0;
  top: 0;
  display: none;
}
#loginUsuario form h2 {
  color: #555;
  font-family: 'Open Sans', arial;
  font-weight: normal;
  font-size: 23px;
  margin-top: 5px;
  margin-bottom: 15px;
  text-align: left;
  text-transform: lowercase;
}
#loginUsuario form p {
  font-family: 'Open Sans', arial;
  font-weight: 500;
  font-size: 13px;
  color: #777;
  text-align: center;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
#loginUsuario form p a {
  text-decoration: none;
  color: #05f;
}
#loginUsuario form p a:Hover {
  text-decoration: underline;
}
#loginUsuario form #btnFacebook,
#loginUsuario form .btnGoogle {
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: block;
  width: 88%;
  border-radius: 3px;
  color: #fff;
  font-family: 'Open Sans', arial;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
}
#loginUsuario form #btnFacebook {
  margin-bottom: 5px;
  background: #3c5b9b url("../img/f.png") no-repeat;
  background-size: 40px;
}
#loginUsuario form .btnGoogle {
  background: #cc4435 url("../img/google.png") no-repeat;
  background-size: 30px;
  background-position: 4px;
}
#loginUsuario form #sep {
  margin-top: 10px;
}
#loginUsuario form input {
  margin: 0 auto;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
  padding: 9px 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
  outline: none;
  vertical-align: top;
  font-family: 'Open Sans', arial;
  font-weight: normal;
  font-size: 14px;
}
#loginUsuario form input#iniciarSesion {
  margin: 0px;
  margin-left: 1px;
  margin-bottom: 0px;
  padding: 10px 5px;
  width: 100%;
  background: #08f;
  border: 0px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  font-size: 15px;
  outline: none;
  box-shadow: inset 0 -16px 12px rgba(0,0,0,0), inset 0 -2.5px 0 rgba(0,0,0,0.2);
}
#loginUsuario form input[name="registrarUsuario"] {
  margin: 0px;
  margin-left: 1px;
  margin-bottom: 0px;
  padding: 8px 5px;
  width: 100px;
  background: #0af;
  border: 0px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  outline: none;
  box-shadow: inset 0 -16px 12px rgba(0,0,0,0), inset 0 -2.5px 0 rgba(0,0,0,0.2);
}
#loginUsuario form .errorValLogin {
  padding: 5px;
  border-radius: 3px;
  background: #f80032;
  position: absolute;
  display: inline;
  width: auto;
  box-sizing: border-box;
  z-index: 1030;
  text-align: center;
  color: #fff;
  font-size: 13px;
  font-family: 'Open Sans', arial;
}
#loginUsuario form .errorValLogin:before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  top: -7px;
  left: 5px;
  border-bottom: 8px solid #f80032;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}
#loginUsuario #bannerErrorLogin {
  margin: 100px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #e3d7d9;
  background: #f2dedf;
  z-index: 1050;
  border-radius: 3px;
  display: none;
/*a
            text-decoration none
            color #00B2D4
            font-family 'Open Sans' arial
            font-size 13px
            position absolute
            bottom 5px
            right 1px
            &:Hover
                text-decoration underline*/
}
#loginUsuario #bannerErrorLogin p {
  margin: 0px;
  padding: 0px;
  color: #b54a54;
  font-size: 14px;
  font-weight: 400;
}
#registroFacebook {
  position: relative;
  margin: 100px auto;
  padding: 10px;
  border-radius: 5px;
  background: #fff;
  width: 400px;
  height: auto;
  z-index: 1100;
  text-align: center;
  font-size: 13px;
  display: none;
}
#registroFacebook .bannerErrorLogin {
  margin: 100px auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
  height: auto;
  padding: 10px;
  box-sizing: border-box;
  border: 2px solid #e3d7d9;
  background: #f2dedf;
  z-index: 1050;
  border-radius: 3px;
  display: none;
}
#registroFacebook .bannerErrorLogin p {
  margin: 0px;
  padding: 0px;
  color: #b54a54;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
}
#registroFacebook #imgFacebook {
  margin: 10px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100px;
  display: inline-block;
  vertical-align: top;
}
#registroFacebook #imgFacebook img {
  width: 100%;
}
#registroFacebook .msjLoad {
  font-weight: 400;
  margin: 0px;
  margin-bottom: 10px;
  color: #000;
  font-size: 14px;
}
#registroFacebook .loadFacebook {
  margin: 0 auto;
  height: 35px;
  width: 35px;
  background: url("../img/load.gif") no-repeat;
  background-size: 100%;
}
#registroFacebook #contRegistroFacebook {
  margin-top: 10px;
  width: calc(100% -120px);
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
#registroFacebook #contRegistroFacebook h4 {
  font-weight: 300;
  margin: 0px;
  margin-bottom: 10px;
  color: #333;
  font-size: 14px;
}
#registroFacebook #contRegistroFacebook p {
  margin: 0px;
  font-size: 15px;
}
#registroFacebook #bordeLinea {
  background: #eee;
}
#registroFacebook h3 {
  margin: 0px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
}
#registroFacebook form {
  margin: 0px auto;
  width: 100%;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
}
#registroFacebook form input {
  margin-top: 5px;
  padding: 10px;
  width: 300px;
  box-sizing: border-box;
  font-size: 13px;
  border: 1px solid #eee;
  border-radius: 3px;
  outline: none;
}
#registroFacebook form input#btnEnlazar {
  margin-top: 10px;
  padding: 9px;
  background: #08f;
  outline: none;
  box-shadow: inset 0 -16px 12px rgba(0,0,0,0), inset 0 -2.5px 0 rgba(0,0,0,0.2);
  border: 0px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
#registroFacebook form input#btnEnlazar:hover {
  background: #09f;
}
#registroFacebook #crearCuenta {
  background: transparent;
  border: 0px;
  color: #555;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none;
}
#registroFacebook #crearCuenta:hover {
  text-decoration: underline;
}
.contVideo {
  box-sizing: border-box;
  display: none;
  height: 420px;
  left: 23%;
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 150px;
  width: 740px;
  z-index: 1010;
}
.contVideo video {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
section.ventana {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
section#inicio {
  height: 100%;
  margin: 0;
  padding: 1px;
  position: relative;
}
#cajaHeader {
  left: 0;
  height: auto;
  margin: 0;
  min-height: 60px;
  padding: 0;
  position: relative;
  top: -1px;
  width: 100%;
  z-index: 1;
}
header {
  height: 60px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
  width: 100%;
  z-index: 1010;
}
header.fija {
  background: #222;
  left: 0;
  margin: 0;
  position: fixed;
  -webkit-transition: 0.5, all;
  -moz-transition: 0.5, all;
  -ms-transition: 0.5, all;
  -o-transition: 0.5, all;
  transition: 0.5, all;
  z-index: 1050;
}
.contHeader {
  height: auto;
  margin: 0 auto;
  width: 90%;
}
.botonMenu {
  cursor: pointer;
  display: none;
  height: 30px;
  position: absolute;
  right: 12px;
  top: 17px;
  width: 35px;
}
.botonMenu .line {
  background: #fff;
  height: 5px;
  margin-bottom: 5px;
  width: 100%;
  -webkit-transition: 0.3s, all;
  -moz-transition: 0.3s, all;
  -ms-transition: 0.3s, all;
  -o-transition: 0.3s, all;
  transition: 0.3s, all;
}
.botonMenu:hover .line {
  transform: rotate(180deg);
  margin-bottom: 1px;
}
.botonMenu:hover .line:first-child {
  transform: rotate(150deg);
  width: 50%;
}
.botonMenu:hover .line:last-child {
  transform: rotate(-150deg);
  width: 50%;
}
#imgLogo {
  height: 60px;
  width: 130px;
}
#imgLogo img {
  width: 100%;
}
#imgLogo,
nav.mnuPrincipal {
  display: inline-block;
  vertical-align: top;
}
nav.mnuPrincipal {
  height: 60px;
  margin-left: -4px;
  text-align: right;
  width: calc(100% - 140px);
}

nav.mnuPrincipal ul li {
  display: inline-block;
  list-style: none;
  margin-left: -4px;
  margin-top: -5px;
  padding: 0;
  vertical-align: top;
}
nav.mnuPrincipal ul li a {
  color: #000;
  display: block;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  text-decoration: none;
}
 nav.mnuPrincipal ul li #entrar {
  background: #fff;
  border-radius: 3px;
  color: #333;
  font-weight: bold;
}

.contInicio {
  height: auto;
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  width: 90%;
}
.contInicio article,
.contInicio aside {
  display: inline-block;
  margin: 0;
  vertical-align: top;
}
.contInicio article {
  width: calc(100% - 320px);
}
.contInicio article h1 {
  border-radius: 5px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  margin: 0;
  padding: 15px;
  text-align: left;
  width: 600px;
  z-index: 1;
}
.contInicio aside {
  margin-left: -4px;
  opacity: 0;
  padding: 0;
  position: relative;
  right: -100px;
  text-align: right;
  width: 310px;
}

#registroUsuario {
  background: #eee;
  box-sizing: border-box;
  font-family: 'Open Sans', arial;
  height: auto;
  padding: 15px;
  text-align: center;
  width: 310px;
}
#registroUsuario .msjFloat {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  bottom: -20px;
  box-sizing: border-box;
  color: #333;
  display: none;
  font-size: 17px;
  font-weight: 300;
  height: 120px;
  left: -240px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 230px;
}
#registroUsuario .msjFloat:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  right: -10px;
  top: 20px;
  border-left: 10px solid #fff;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
#registroUsuario #bannerError {
  margin: 0px;
  padding: 10px 0px;
  background: #f2dedf;
  border-radius: 3px;
}
#registroUsuario #bannerError p {
  margin: 0px;
  margin-left: 10px;
  padding: 0px;
  color: #b54a54;
  font-family: 'Open Sans', arial;
  font-weight: normal;
  font-size: 13px;
  text-align: left;
}
#registroUsuario h1 {
  text-align: center;
  margin: 0px 0px 20px 0px;
  font-size: 25px;
  color: #555;
  font-weight: 500;
}
#registroUsuario p {
  font-family: 'Open Sans', arial;
  font-weight: 500;
  font-size: 14px;
  color: #777;
  text-align: center;
  width: 100%;
  margin: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
#registroUsuario #btnFacebook2,
#registroUsuario #btnGoogle {
  margin: 0px;
  margin-bottom: 10px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 3px;
  color: #fff;
  font-family: 'Open Sans', arial;
  font-weight: 600;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
}
#registroUsuario #btnFacebook2 {
  margin-bottom: 5px;
  background: #3c5b9b url("../img/f.png") no-repeat;
  background-size: 40px;
  background-position: -5px 0px;
}
#registroUsuario #btnGoogle {
  background: #cc4435 url("../img/google.png") no-repeat;
  background-size: 30px;
  background-position: 0px;
}
#registroUsuario form {
  width: 100%;
}
#registroUsuario form input,
#registroUsuario form select {
  width: 100%;
  box-sizing: border-box;
  margin: 0px;
  margin-top: 7px;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  background: #fff;
  outline: none;
  font-family: 'Open Sans', arial;
  font-weight: normal;
  font-size: 13px;
  z-index: 1010;
}
#registroUsuario form select {
  width: 282px;
}
#registroUsuario form input#registrar {
  margin-top: 15px;
  background: #333;
  border: 0px;
  border-radius: 3px;
  color: #fff;
  font-family: 'Open Sans', arial;
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  outline: none;
  box-shadow: inset 0 -16px 12px rgba(0,0,0,0), inset 0 -2.5px 0 rgba(0,0,0,0.2);
}
#registroUsuario form a {
  text-decoration: none;
  color: #08f;
  font-size: 13px;
  float: right;
  margin-top: 10px;
}
section.ventana {
  box-sizing: border-box;
  height: auto;
  padding: 20px;
  text-align: center;
}
section.ventana .cont {
  height: auto;
  margin: 0 auto;
  padding: 30px 0;
  padding-top: 0;
  width: 90%;
}
section.ventana h2 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 50px;
  text-transform: uppercase;
}
section#servicio {
  background: #f0f0f0;
}
section#servicio h2 {
  color: #228bd0;
}
section#servicio div.servicios {
  display: inline-block;
  height: auto;
  margin: 10px;
  text-align: center;
  vertical-align: top;
  width: 230px;
}
section#servicio div.servicios .imgServ {
  border-radius: 50%;
  margin: 0 auto;
  overflow: hidden;
  height: 150px;
  width: 150px;
}
section#servicio div.servicios .imgServ img {
  margin: 25% auto;
  opacity: 0.5;
  width: 50%;
}
section#servicio div.servicios h3 {
  font-size: 18px;
  font-weight: 600;
}
section#servicio div.servicios h3 a {
  text-decoration: none;
  color: #444;
}
section#servicio div.servicios p {
  color: #999;
  font-size: 13px;
}
section#testimonio {
  background: #fff;
  height: auto;
}
section#testimonio h2 {
  color: #333;
  font-weight: bold;
}
section#testimonio .clientes {
  height: auto;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: left;
  width: 90%;
}
section#testimonio .cliente,
section#testimonio .msj {
  display: inline-block;
  vertical-align: top;
}
section#testimonio .cliente {
  width: 170px;
}
section#testimonio .cliente .imgC {
  border: 3px solid #ddd;
  border-radius: 50%;
  height: 110px;
  margin: 0 auto;
  overflow: hidden;
  width: 110px;
}
section#testimonio .cliente .imgC img {
  width: 100%;
}
section#testimonio .cliente h4 {
  color: #08f;
  margin: 5px;
  text-align: center;
}
section#testimonio .msj {
  height: 100%;
  margin-left: -4px;
  text-align: right;
  width: calc(100% - 171px);
}
section#testimonio .msj .contMsj {
  background: #eee;
  border-radius: 3px;
  box-sizing: border-box;
  height: 100%;
  margin: 10px auto;
  margin-left: 0;
  padding: 7px 15px;
  position: relative;
  right: 0;
  width: 100%;
}
section#testimonio .msj .contMsj p {
  box-sizing: border-box;
  color: #999;
  font-size: 17px;
  font-style: italic;
  font-weight: 300;
  line-height: 1.8;
  position: relative;
  background: url("../img/iconos/tab.png") no-repeat;
  background-size: 45px;
  background-position: 0 0;
  padding-left: 50px;
  padding-top: 5px;
}
section#testimonio .left .contMsj:before {
  border-bottom: 15px solid transparent;
  border-right: 15px solid #eee;
  border-top: 15px solid transparent;
  content: '';
  height: 0;
  left: -15px;
  position: absolute;
  top: 15px;
  width: 0;
}
.right {
  text-align: right;
}
.right .contMsj {
  margin: 0;
}
.right .contMsj:before {
  border-bottom: 15px solid transparent;
  border-left: 15px solid #eee;
  border-top: 15px solid transparent;
  content: '';
  height: 0;
  right: -15px;
  position: absolute;
  top: 15px;
  width: 0;
}
section#contacto {
  height: auto;
  margin: 0 auto;
  text-align: center;
  width: 80%;
}
section#contacto .contContactos {
  box-sizing: border-box;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}
section#contacto .contContactos h2 {
  color: #fff;
  font-weight: bold;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 30px;
}
section#contacto .contContactos form {
  margin: 0;
  position: relative;
}
section#contacto .contContactos .msjErrorContact {
  background: #f13;
  border-radius: 3px;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: normal;
  height: auto;
  left: 0;
  padding: 7px;
  position: absolute;
  top: 0;
  width: auto;
}
section#contacto .contContactos .msjErrorContact:before {
  border-bottom: 10px solid #f13;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  content: '';
  height: 0;
  left: 10px;
  position: absolute;
  top: -10px;
  width: 0;
}
section#contacto .contContactos .exito {
  background: #0b7;
}
section#contacto .contContactos .exito:before {
  border-bottom: 9px solid transparent;
  border-left: 10px solid #0b7;
  border-right: 0;
  border-top: 9px solid transparent;
  left: auto;
  right: -10px;
  top: 7px;
}
section#contacto .contContactos .error:before {
  border-bottom: 9px solid transparent;
  border-left: 10px solid #f13;
  border-right: 0;
  border-top: 9px solid transparent;
  left: auto;
  right: -10px;
  top: 7px;
}
section#contacto .contContactos input,
section#contacto .contContactos textarea {
  background: #fff;
  border: 0;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 13px;
  margin: 0;
  outline: none;
  padding: 10px;
}
section#contacto .contContactos #nombreC,
section#contacto .contContactos #correoC,
section#contacto .contContactos #asuntoC {
  margin-top: 0;
  margin-bottom: 12px;
  width: calc(100% / 3 - 10px);
}
section#contacto .contContactos #nombreC {
  margin-right: 10px;
}
section#contacto .contContactos #correoC {
  margin-right: 10px;
}
section#contacto .contContactos textarea {
  height: 200px;
  margin-bottom: 10px;
  width: calc(100% - 2px);
}
section#contacto .contContactos #btnEnviarC {
  background: #09f;
  color: #fff;
  float: right;
  margin: 0;
  margin-bottom: 10px;
  padding: 10px;
  width: 130px;
}
footer {
  background: #222;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
}
.footer {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 90%;
}
.footer h6 {
  color: #fff;
  font-size: 13px;
  font-weight: 300;
  margin: 10px;
}
@media (max-width: 768px) {
  header {
    background: #222;
    height: auto;
    left: 0;
    margin: 0;
    margin-top: 0;
    position: relative;
    text-align: left;
    width: 100%;
  }
  .botonMenu {
    display: block;
  }
  #imgLogo,
  nav {
    display: block;
  }
  nav {
    background: #222;
    box-sizing: border-box;
    display: none;
    height: auto;
    left: 4px;
    position: absolute;
    text-align: left;
    top: 60px;
    width: 100%;
  }
  nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  nav ul li {
    box-sizing: border-box;
    display: block;
    margin: 0;
    margin-left: 0;
    margin-top: 0;
    padding: 0 10px;
    vertical-align: top;
    width: 100%;
  }
  nav ul li:hover {
    background: #333;
  }
  nav ul li:last-child {
    background: #fff;
  }
  nav ul li a {
    padding: 12px;
  }
}
/*-- --*/
.navbar>.container .navbar-brand{
    margin-left: 0px;
    padding-top: 5px;
}